:root {
    --button-first-color: #0f5132;
    --button-second-color: #0a58ca;
}

.button {
    align-items: center;
    background-image: linear-gradient(-40deg, var(--button-first-color) 0%, var(--button-second-color) 100%);
    border: none;
    display: flex;
    filter: brightness(100%);
    font-size: 14px;
    justify-content: center;
    outline: none;
    padding: 8px 16px;
    position: relative;
    transition: 0.2s ease-in-out;
}

/* .button:before {
    background: url(../assets/images/batik-button-background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
} */

.button,
.button * {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.button:hover {
    color: white;
    filter: brightness(120%);
}

.button:disabled {
    filter: brightness(80%);
}

.card_detail {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    gap: 12px;
    padding: 12px;
}

.card_detail>.header {
    display: flex;
    justify-content: space-between;
}

.card_detail>.header>.title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 6px !important;
}

.card {
    background-color: #ffffff;
    /* border: 2px solid #966948; */
    border-radius: 8px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    width: 100%;
}

.card.boxless {
    box-shadow: unset;
}

.card>.header {
    display: flex;
    justify-content: space-between;
}

.card>.header>a {
    align-items: center;
    border: none;
    color: white;
    display: grid;
    font-size: 14px;
    gap: 6px;
    grid-template-columns: auto auto;
    justify-content: center;
    outline: none;
    position: relative;
    padding: 6px 12px;
    text-decoration: none;
    white-space: nowrap;
}

.card>.header>a:hover {
    color: white;
}

.card>.header>.title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 6px;
}

.cursor_pointer {
    cursor: pointer;
}

.input_group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
}

.input_group_row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.input_group_row *,
.input_group * {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.input_group_row>.title>.important,
.input_group>.title>.important {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.input_group_row>.error,
.input_group>.error {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

input,
select,
textarea {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
    font-size: 14px !important;
    outline: none;
    padding: 6px 12px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 2px solid rgba(255, 0, 0, 0.6);
}

option {
    background-color: rgba(0, 0, 0, 0.8);
}

input:read-only,
textarea:read-only {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 2px;
    font-size: 14px !important;
    outline: none;
    padding: 6px 12px;
}

.loading_background {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0px;
    overflow: auto;
    padding: 48px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 3;
}

.popup_detail>.toggle {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    padding: 4px;
    position: fixed;
    right: 24px;
    top: 24px;
    z-index: 3;
}

.loading_background>.container {
    background-image: linear-gradient(130deg, #3b2f46 0%, #ac7147 100%);
    border: 1px solid #c9ae81;
    border-radius: 12px;
    padding: 24px;
}

.loading_background>.container::before {
    background: url(../assets/images/batik-background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100vw;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_background>.container>.spinner {
    animation: 1s spin infinite linear;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.popup_detail {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    justify-content: center;
    left: 0px;
    overflow: auto;
    padding: 24px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 4;
}

.tab_card {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tab_card>.item {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.tab_card>.item:hover {
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.tab_card>.item.active {
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.tab_card>.item>.name {
    font-size: 14px;
}

.table_action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.table_action>button {
    align-items: center;
    border: none;
    color: white;
    display: grid;
    font-size: 14px;
    gap: 6px;
    grid-template-columns: auto auto;
    justify-content: center;
    outline: none;
    position: relative;
    padding: 6px 12px;
    text-decoration: none;
    white-space: nowrap;
}

.table_action>button>* {
    color: white;
    font-size: 14px;
}

/* .table_action>button::before {
    background: url(../assets/images/batik-button-background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
} */

.table_action>button:disabled {
    filter: brightness(80%);
}

.apply {
    background-color: #20da3f;
}

.edit {
    background-color: goldenrod;
}

.delete {
    background-color: red;
}