:root {
    --button-first-color: #532f00;
    --button-second-color: #9e5e31;
}

.button {
    align-items: center;
    background-image: linear-gradient(-40deg, var(--button-first-color) 0%, var(--button-second-color) 100%);
    border: none;
    display: flex;
    filter: brightness(100%);
    font-size: 12px;
    justify-content: center;
    outline: none;
    padding: 8px 12px;
    position: relative;
    transition: 0.2s ease-in-out;
    width: 100%;
}

.button:before {
    background: url(../assets/images/batik-button-background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}

.button>* {
    font-size: 16px;
}

.button:hover {
    filter: brightness(120%);
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.card>.title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 6px;
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input_group_row {
    display: flex;
    flex-direction: row;
}

.input_group_row *,
.input_group * {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

input {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 12px;
  outline: none;
  padding: 6px 12px;
}