.container {
    align-items: center;
    background-color: #623e2d;
    border-bottom: 2px solid #966948;
    display: flex;
    height: 64px;
    justify-content: space-between;
    left: 0;
    padding: 12px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container>.logo {
    align-items: center;
    display: flex;
    gap: 12px;
}

.container>.logo>img {
    border-radius: 50%;
    height: 36px;
    object-fit: cover;
    width: 36px;
}

.container>.logo>.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.container>.logo>.toggle {
    cursor: pointer;
}

.container>.menu {
    align-items: center;
    display: flex;
    gap: 12px;
}

.container>.menu>.account {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
    position: relative;
}

.container>.menu>.account>ul.dropdown_menu {
    background-color: #745139;
    border: 2px solid #966948;
    border-radius: 8px;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 56px;
    width: 130px;
}

.container>.menu>.account>ul.dropdown_menu.active {
    display: block;
}

.container>.menu>.account>ul.dropdown_menu>li {
    position: relative;
}

.container>.menu>.account>ul.dropdown_menu>li:not(:last-child) {
    border-bottom: 1px solid #966948;
}

.container>.menu>.account>ul.dropdown_menu>li>a,
.container>.menu>.account>ul.dropdown_menu>li>div {
    align-items: center;
    color: white;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    gap: 6px;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}

.container>.menu>.account>ul.dropdown_menu>li>a:hover,
.container>.menu>.account>ul.dropdown_menu>li>div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container>.menu>.account:hover>.icon>*,
.container>.menu>.account:hover>.title {
    color: #f7e3c1;
}

.container>.menu>.account>.icon {
    font-size: 36px;
}

.container>.menu>.account>.icon>* {
    transition: 0.4s ease-in-out;
}

.container>.menu>.account>.title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
    transition: 0.4s ease-in-out;
}

.container>.menu>.notification {
    position: relative;
}

.container>.menu>.notification>.dropdown_menu {
    background-color: #623e2d;
    border: 2px solid #745139;
    display: none;
    gap: 4px;
    height: auto;
    max-height: 260px;
    overflow: auto;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 48px;
    width: 220px;
}

.container>.menu>.notification>.dropdown_menu.active {
    display: block;
}

.container>.menu>.notification>.dropdown_menu>.item {
    background-color: #794825;
    min-height: 64px;
    padding: 12px;
}

.container>.menu>.notification>.dropdown_menu>.item:not(:last-child) {
    margin-bottom: 6px;
}

.container>.menu>.notification>.dropdown_menu>.item * {
    font-size: 11px;
}

.container>.menu>.notification>.dropdown_menu>.item:hover {
    background-color: #80502d;
}

.container>.menu>.notification>.dropdown_menu>.item.empty {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container>.menu>.notification>.dropdown_menu>.item.pesanan {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container>.menu>.notification>.dropdown_menu>.item>.description {
    margin-bottom: 0;
}

.container>.menu>.notification>.dropdown_menu>.item>.description>.green {
    color: greenyellow;
}

.container>.menu>.notification>.toggle {
    cursor: pointer;
    position: relative;
}

.container>.menu>.notification>.toggle::before {
    align-items: center;
    background-color: red;
    border-radius: 8px;
    color: white;
    content: attr(notifikasi);
    display: flex;
    font-size: 9px;
    font-weight: bold;
    min-height: 16px;
    min-width: 16px;
    justify-content: center;
    padding: 2px 6px;
    position: absolute;
    right: 8px;
    top: -6px;
    z-index: 1;
}

@media screen and (max-width: 495px) {
    .container {
        justify-content: flex-end;
    }

    .container>.logo {
        display: none;
    }
}