.content {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
}

.header {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header>.pathname {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.header>.title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.button {
    align-items: center;
    background-image: linear-gradient(-40deg, #532f00 0%, #9e5e31 100%);
    border: none;
    display: flex;
    filter: brightness(100%);
    font-size: 12px;
    justify-content: center;
    outline: none;
    padding: 8px 12px;
    position: relative;
    transition: 0.2s ease-in-out;
}

.button:before {
    background: url(../assets/images/batik-button-background.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}

.button>* {
    font-size: 16px;
}

.button:hover {
    filter: brightness(120%);
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.card>.title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 6px;
}

.input_group {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.input_group>.title {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

input {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 12px;
  outline: none;
  padding: 10px 12px;
}
